[Unit]
Description=FLECS App Management Web App
After=network-online.target
Wants=network-online.target
After=docker.service
Requires=docker.service
After=containerd.service
Wants=containerd.service

[Service]
Type=oneshot
TimeoutStartSec=0
ExecStart=/opt/flecs-webapp/bin/flecs-webapp.sh
ExecStop=docker stop flecs-webapp
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
