[Unit]
Description=FLECS App Management Web App
After=flecs.service
Requires=flecs.service

[Service]
Type=exec
TimeoutStartSec=infinity
TimeoutStopSec=infinity
ExecStartPre=/bin/bash -x /opt/flecs-webapp/bin/flecs-webapp.sh pull
ExecStartPre=/bin/bash -x /opt/flecs-webapp/bin/flecs-webapp.sh remove
ExecStartPre=/bin/bash -x /opt/flecs-webapp/bin/flecs-webapp.sh create
ExecStart=/usr/bin/docker start -a flecs-webapp
ExecStop=/usr/bin/docker stop --time 120 flecs-webapp
ExecStopPost=/bin/bash -x /opt/flecs-webapp/bin/flecs-webapp.sh remove
Restart=on-failure

[Install]
WantedBy=multi-user.target
