.footer{
  background-Color: #E8E8E8;
  border-Top: 1px solid #E8E8E8;
  text-Align: center;
  padding: 0px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 20px;
  width: 100%;
}

.phantom{
  display: block;
  padding: 0px;
  height: 20px;
  width: 100%;
  }