name: Develop

on:
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-24.04
    container: node:22

    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22.x
      - name: build
        run: make dev-build
      - name: archive raw artifacts
        uses: actions/upload-artifact@v5
        with:
          name: build
          path: dist/
          retention-days: 1

  docker:
    needs: build

    strategy:
      matrix:
        include:
          - runs-on: construction-worker
            arch: amd64
            platform: linux/amd64
          - runs-on: construction-worker-arm64
            arch: arm64
            platform: linux/arm64

    runs-on: ${{ matrix.runs-on }}

    env:
      VERSION_SPECIAL: -dev

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: download raw artifacts
        uses: actions/download-artifact@v5
        with:
          name: build
          path: dist/

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Determine webapp version
        id: version
        run: |
          echo "webapp-version=$(make version)" >> "$GITHUB_OUTPUT"

      - name: Login to container registry
        uses: docker/login-action@v3
        with:
          registry: flecspublic.azurecr.io
          username: ${{ secrets.REGISTRY_USER }}
          password: ${{ secrets.REGISTRY_AUTH }}

      - name: Build Docker images
        uses: docker/build-push-action@v6
        with:
          context: .
          file: docker/Dockerfile
          platforms: ${{ matrix.platform }}
          tags: flecspublic.azurecr.io/webapp:${{ steps.version.outputs.webapp-version }}-${{ matrix.arch }}
          pull: true
          push: true
          cache-from: type=gha,scope=buildkit-${{ matrix.arch }}
          cache-to: type=gha,mode=max,scope=buildkit-${{ matrix.arch }}

  container-registry:
    needs: docker
    runs-on: ubuntu-24.04

    env:
      VERSION_SPECIAL: -dev

    steps:
      - uses: actions/checkout@v4

      - uses: docker/login-action@v3
        with:
          registry: flecspublic.azurecr.io
          username: ${{ secrets.REGISTRY_USER }}
          password: ${{ secrets.REGISTRY_AUTH }}

      - uses: docker/setup-buildx-action@v2

      - name: Determine webapp version
        id: version
        run: |
          echo "webapp-version=$(make version)" >> "$GITHUB_OUTPUT"

      - name: Create and push manifest
        env:
          WEBAPP_VERSION: ${{ steps.version.outputs.webapp-version }}
        run: |
          docker buildx imagetools create \
            -t flecspublic.azurecr.io/webapp:${WEBAPP_VERSION} \
            flecspublic.azurecr.io/webapp:${WEBAPP_VERSION}-amd64 \
            flecspublic.azurecr.io/webapp:${WEBAPP_VERSION}-arm64
          docker buildx imagetools inspect flecspublic.azurecr.io/webapp:${WEBAPP_VERSION}

          docker buildx imagetools create \
            -t flecspublic.azurecr.io/webapp:develop \
            flecspublic.azurecr.io/webapp:${WEBAPP_VERSION}-amd64 \
            flecspublic.azurecr.io/webapp:${WEBAPP_VERSION}-arm64
          docker buildx imagetools inspect flecspublic.azurecr.io/webapp:develop
